body {
  counter-reset: countChapter;
}

article {
  margin-right: 30%;
}

section.level1::before {
  content: "Chapter " counter(countChapter, upper-roman);
}

h1 {
  string-set: titleBefore content(before), title content(text);
}

@page {
  size: letter;
  margin-top: 30mm;
  margin-right: 15mm;
  margin-bottom: 30mm;
  margin-left: 15mm;

  @bottom-left {
    content: counter(page);
  }

  @bottom-center {
    content: string(titleBefore) ". " string(title, first);
    text-transform: uppercase;
  }


}


section.level1 {
  break-before: page;
}

div.header {

}

/* body {
  font-size: 10pt;
  font-family: Times;
} */

.sidenote {
  font-size: 9pt;
  line-height: 13pt;
  text-align: end;
  color: darkgrey;
  margin-right: -56mm;
  width: 50mm;
}

span.note {
  font-size: 10pt;
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
  /* display: none; */
}

div.note {
  font-size: 10pt;
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
  border: 1px grey dashed;
}

blockquote {
  border: 0px;
  border-left: 2px lightgrey solid;
}

blockquote p {
  margin: 0.5em 0;
}

/* Si on souhaite afficher l'url systématiquement.. */
/* a::after {
  content: " (" attr(href) ")";
} */

table {
  width: 165.9mm;
}
